<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio de sesión</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Song Store</title>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container text-center mt-5 p-5 form-fdx">
    <h4>Por favor inicie sesión</h4>
    <div th:if="${error}">
        Usuario y/o contraseña incorrectos
    </div>
    <div th:if="${param.logout}">
        Has salido de la aplicación
    </div>
    <form th:action="@{/login}" method="post" class="form">
        <div class="form-group mx-sm-4 mb-3">
            <input class="form-control" type="text" name="username" placeholder="Username"/>
        </div>
        <div class="form-group mx-sm-4 mb-3">
            <input class="form-control" type="password" name="password" placeholder="Password"/>
        </div>
        <button type="submit" class="btn btn-success">Entrar</button>
    </form>
</div>
</body>
</html>